.changeName {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 26);
}




.accountHeader {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: black;
    /* padding: 15px 10px 15px 10px; */
    width: 100%;
    gap: 10px;
}

.headerTitle {
    color: #ffffff;
}

.buttonBackPage {
    display: flex;
    align-items: center;
    background: none;
    border: none;
}

.nav {
    display: flex;
    align-items: center;
    gap: 10px;
}







.formChangeName {
    position: relative;
    display: flex;
    width: 500px;
    flex-direction: column;
    background-color: #000000;
    border: 1px solid #222222;
    border-radius: 10px;
    padding: 40px;
}

.formHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 30px;
}

.formHead h2 {
    color: #ffffff;
    text-align: center;
}

.formInputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputStyle {
    background-color: #222222;
    border: 1px solid #2b2b2b;
    color: #ffffff;
    border-radius: 100px;
    padding: 10px 15px;
    width: 100%;
    font-size: 16px;
    outline: none;
}

.inputStylePassword {
    background-color: #222222;
    border: 1px solid #2b2b2b;
    color: #ffffff;
    border-radius: 100px 0px 0px 100px;
    padding: 10px 15px;
    width: 100%;
    font-size: 16px;
    outline: none;
}


.buttonStylePassword {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    border: 1px solid #2b2b2b;
    border-left: none;
    border-radius: 0px 100px 100px 0px;
    padding: 0px 10px;
}

.passwordBlock {
    display: flex;
}



.currentName {
    display: flex;
    gap: 7px;
}

.currentName h3 {
    font-size: 16px;
    color: #ffffff;
}

.currentName span {
    font-size: 16px;
    color: #b1b1b1;
}



.formButtons {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 10px;
    gap: 20px;
}

.buttonSubmit {
    background-color: var(--blue);
    border: none;
    color: #ffffff;
    border-radius: 100px;
    padding: 10px 30px;
    transition: 0.2s all ;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}


.buttonSubmit:hover {
    background-color: var(--blueHover);
}

.buttonSubmit:active {
    background-color: var(--blue);
}




.buttonCancel {
    background-color: #212121;
    border: none;
    color: var(--width);
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    padding: 12px 15px;
    outline: none;
    width: 100%;
}

.buttonCancel:hover {
    background-color: #2c2b2b;
}

.buttonCancel:active {
    background-color: #212121;
}


.formLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap: 15px;
}





.error {
    color: rgb(255, 137, 137);
}


.Link {
    font-size: 16px;
    color: #b8b8b8;
    text-decoration: none;
    transition: 0.2s all ;
}

.Link:hover {
    color: #d4d4d4;
}

.Link:active {
    color: #b8b8b8;
}












.userDataLoaderBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.userDataLoader {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.userDataLoaderImg {
  width: 75px;
  animation: load linear 2s infinite; 
}

@keyframes load {
    0% { 
        transform: rotate(0deg); 
    }

    100% { 
        transform: rotate(360deg); 
    }    

}

















@media (max-width: 500px) {
    .formChangeName {
        width: 100%;
        border: none;
        border-radius: 0px;
        padding-top: 100px;
    }

    .changeName {
        align-items: start;
        background-color: rgb(0, 0, 0);        
    }
}


@media (max-width: 380px) {

    .formChangeName {
        padding: 30px;
        padding-top: 100px;
    }

    .currentName {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


}

@media (max-width: 320px) {

    .formChangeName {
        padding: 30px;
        padding-top: 100px;
    }

}


