.auth {
    width: 100%;
    height: 100vh;
    background-color: rgb(26, 26, 26);
}

/* .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    padding: 15px 20px 15px 20px;
} */

.headerTitle {
    color: #ffffff;
}

.nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Link {
    font-size: 16px;
    color: #b8b8b8;
    text-decoration: none;
    transition: 0.2s all ;
}

.Link:hover {
    color: #d4d4d4;
}

.Link:active {
    color: #b8b8b8;
}