.accountLayout {
    width: 100%;
    height: 100vh;
    background-color: black;
}




.userDataLoaderBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.userDataLoader {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.userDataLoaderImg {
  width: 75px;
  animation: load linear 2s infinite; 
}

@keyframes load {
    0% { 
        transform: rotate(0deg); 
    }

    100% { 
        transform: rotate(360deg); 
    }    

}


.styleButtonBackHome {
    transition: 0.2s all ;
    color: rgb(0, 140, 255);
    text-decoration: none;
}

.styleButtonBackHome:hover {
    color: #007fe8;
    text-decoration: none;
}

.styleButtonBackHome:active {
    color: rgb(0, 140, 255);
    text-decoration: none;
}