.sendfile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.blockForm {
    width: 400px;
}

.formSendFile {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.formHead {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.formIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.formTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
    padding-bottom: 40px;
    gap: 10px;
}

.formTitle h2 {
    text-align: center;
}

.formTitle p {
    text-align: center;
    color: var(--color-gray-150);
}


.formInputs {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
}

.styleInput {
    background-color: var(--color-gray-950);
    border: 1px solid var(--color-gray-600);
    color: var(--color-text);
    border-radius: 100px;
    padding: 12px 15px;
    font-size: 16px;
    outline: none;
}

.styleTextareaInput {
    /* height: 200px; */
    background-color: var(--color-gray-950);
    border: 1px solid var(--color-gray-600);
    color: var(--color-text);
    border-radius: 20px;
    padding: 13px 15px;
    font-size: 16px;
    outline: none;
    resize: none;
}

.styleInput::placeholder, .styleInputDeviceID::placeholder, .styleTextareaInput::placeholder {
    color: var(--color-gray-250);
}


/* recipientDetails */

.recipientDetailsBlock {
    display: flex;
    align-items: center;
    background-color: var(--color-gray-800);
    border: 1px solid var(--color-gray-500);
    /* border: 1px solid #393939; */
    border-radius: 100px;
    padding: 10px;
}

.recipientDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.recipientDetailsAvatarBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipientDetailsAvatar {
    /* background-color: #393939; */
    background-color: var(--color-gray-500);
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.recipientDetailsInfo span {
    color: var(--color-text)
}


.recipientDetailsNotFound {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipientDetailsNotFound span {
    color: var(--color-gray-150);
}











.selectBlock {
    width: 100%;
}

.selectOptionStyle {
    background-color: var(--color-gray-950);
    border: 1px solid var(--color-gray-600);
    /* border: 1px solid #2e2e2e; */
    color: var(--color-gray-250);
    font-size: 16px;
    /* color: #9a9a9a; */
    width: 100%;
    border-radius: 100px;
    padding: 12px 15px;
    outline: none;

    -webkit-appearance: none; /* Для старых Safari */
    -moz-appearance: none; /* Для старых Firefox */
    appearance: none; /* Для современных браузеров */
    /*  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 24h24V0H0z" fill="none"/></svg>'); Пример SVG-стрелки */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%239a9a9a"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>'); /* Пример SVG-стрелки */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px; 
    padding-right: 30px; /* Место для стрелки */
    cursor: pointer;

}

.selectOptionStyle::placeholder {
    color: var(--color-gray-250);
}

.fileInput {
    display: none;
}



.formButtons {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    gap: 10px;
}


.styleButtonFileSelect {
    background-color: var(--color-gray-700);
    border: none;
    color: var(--color-text);
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    padding: 12px 15px;
    transition: 0.2s all ;
    outline: none;
    width: 100%;
}

.styleButtonFileSelect:hover {
    background-color: var(--color-gray-600);
}

.styleButtonFileSelect:active {
    background-color: var(--color-gray-700);
}

.styleButtonSubmit {
    background-color: var(--color-blue-500);
    border: none;
    color: var(--color-width);
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    padding: 12px 15px;
    transition: 0.2s all ;
    outline: none;
    width: 100%;
}

.styleButtonSubmit:hover {
    background-color: var(--color-blue-600);
}

.styleButtonSubmit:active {
    background-color: var(--color-blue-500);
}



.styleButtonSubmitFileLoader {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
    background-color: var(--color-blue-500);
    border: none;
    color: var(--color-width);
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    padding: 12px 15px;
    transition: 0.2s all ;
    outline: none;
    width: 100%;
    gap: 10px;
}





.styleButton {
    background-color: var(--color-blue-500);
    border: none;
    color: var(--color-width);
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    padding: 12px 15px;
    transition: 0.2s all ;
    outline: none;
    width: 100%;
    gap: 10px;
}

.styleButton:hover {
    background-color: var(--color-blue-600);
}

.styleButton:active {
    background-color: var(--color-blue-500);
}



/* .styleButtonAddFile {
    width: 100%;
} */


.notFile {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    color: var(--color-width);
    gap: 10px;
}


.filePreview {
    display: flex;
    flex-direction: column;

    border: 1px solid var(--color-gray-600);
    background-color: var(--color-gray-950);
    border-radius: 15px;
    padding: 20px;
    color: var(--color-width);
    gap: 20px;
}

.filePreviewFiles {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filePreviewTitle {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.setFilePopUpTitleInfo {
    color: var(--color-text);
}

.setFilePopUpFilesLength {
    color: var(--color-gray-150);
    word-break: break-all;
}




.fileItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.fileInfo {
    display: flex;
    align-items: center;
    flex-shrink: 5;
    gap: 10px;
}

.fileIcon {
    display: flex;
    flex-shrink: 0;
}

.fileInfoData {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
}

.fileInfoDataName {
    color: var(--color-text);
    word-break: break-all;
}

.fileInfoDataSize {
    color: var(--color-gray-150);
    word-break: break-all;
}

.buttonFileClose {
    background: none;
    border: none;
}

.Fileblock {
    width: 100%;
}




.inputDeviceIDBlock {
    display: flex;

}

.styleInputDeviceID {
    background-color: var(--color-gray-950);
    border: 1px solid var(--color-gray-600);
    border-right: 0px; 
    color: var(--color-text);
    border-radius: 100px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 12px 15px;
    font-size: 16px;
    outline: none;
    width: 100%;
}

.styleButtonWhatDeviceID {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray-950);
    border: 1px solid var(--color-gray-600);
    border-left: 0px; 
    color: var(--color-text);
    border-radius: 100px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 16px;
    outline: none;
    width: 50px;
}

.messageWhatDeviceIDBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray-800);
    border-radius: 20px;
    padding: 20px;
    gap: 15px;
}

.messageWhatDeviceIDBlock span {
    color:  var(--color-gray-150);
}

.messageWhatDeviceIDBlock a {
    color:  var(--color-blue-link-100);
}



.navExchangeBlock {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 70px;
}

.navExchange {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--color-gray-700);
    padding: 5px;
    border-radius: 50px;
    /* gap: 20px; */
}

.LinkExchange {
    color: var(--color-gray-200);
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.2s all ;
}

.LinkExchange:hover {
    background-color: var(--color-gray-500);
}

.select {
    color: var(--color-width);
    background-color: var(--color-blue-500);
}

.select:hover {
    background-color: var(--color-blue-600);
}


.message {
    color: var(--color-text);
}

.error {
    color: var(--color-red-100);
}














.bodyStyle {
  height: 300px; /* Пример высоты */
  overflow-y: scroll;
  background-color: #f0f0f0;
}

.bodyStyle::-webkit-scrollbar {
  width: 15px; /* Ширина всего элемента навигации */
}

.bodyStyle::-webkit-scrollbar-track {
  background: #fff; /* Цвет дорожки */
}

.bodyStyle::-webkit-scrollbar-thumb {
  background-color: #050c26; /* Цвет бегунка */
  border-radius: 20px; /* Округление бегунка */
  border: 3px solid #050c26; /* Оформление границ бегунка */
}

.bodyStyle::-webkit-scrollbar {
  width: 15px; /* Ширина всего элемента навигации */
}

.bodyStyle::-webkit-scrollbar-track {
  background: #fff; /* Цвет дорожки */
}

.bodyStyle::-webkit-scrollbar-thumb {
  background-color: #050c26; /* Цвет бегунка */
  border-radius: 20px; /* Округление бегунка */
  border: 3px solid #050c26; /* Оформление границ бегунка */
}














/* submitFileLoaderPopUp */


.submitFileLoaderBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black-transparent-45); 
    position: fixed;
    top: 0px; 
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.submitFileLoaderPopUp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 520px;
    height: 630px;
    padding: 10px;
    background-color: var(--color-gray-700);
    border: 1px solid var(--color-gray-950);
    border-radius: 20px;
}

.submitFileLoaderPopUpHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-shrink: 0;
}

.submitFileLoaderPopUpHeader h2 {
    color: var(--color-text);
}







.submitFileLoaderPopUpContent {
    overflow: hidden;
    height: 90%;
}

.submitFileLoaderPopUpUserRecipientDataBlock {
    padding: 10px;
    padding-bottom: 20px;
}

.submitFileLoaderPopUpWhoToSendItToHeader {
    padding-bottom: 20px;
}

/* submitFileLoaderPopUpRecipientDetails */

.submitFileLoaderPopUpRecipientDetailsBlock {
    display: flex;
    align-items: center;
    background-color: var(--color-gray-500);
    border-radius: 100px;
    padding: 10px;
}

.submitFileLoaderPopUpRecipientDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.submitFileLoaderPopUpRecipientDetailsAvatarBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitFileLoaderPopUpRecipientDetailsAvatar {
    /* background-color: #393939; */
    background-color: var(--color-gray-500);
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.submitFileLoaderPopUpRecipientDetailsInfo span {
    color: var(--color-text)
}


.submitFileLoaderPopUpRecipientDetailsNotFound {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submitFileLoaderPopUpRecipientDetailsNotFound span {
    color: var(--color-gray-150);
}







.submitFileLoaderPopUpPreviewFilesBlock {
    padding: 10px;
}

.submitFileLoaderPopUpPreviewFilesInfo {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    gap: 10px;
}

.submitFileLoaderPopUpPreviewFilesInfo h2 {
    color: var(--color-text);
}

.submitFileLoaderPopUpPreviewFilesInfo span {
    color: var(--color-gray-150);
}


.submitFileLoaderPopUpPreviewFilesListBlock {
    scrollbar-color: #898989 var(--color-gray-700); /* Цвет ползунка и дорожки */
    border-radius: 15px;
    height: 34vh;
}

.submitFileLoaderPopUpPreviewFilesList {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--color-file-cart-bg);
    gap: 20px;
}

.submitFileLoaderPopUpPreviewListNotFile {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
}

.submitFileLoaderPopUpPreviewListNotFile span {
    color: var(--color-text);
}


.styleTextareaInputLoaderPopUpPreview {
    background-color: var(--color-gray-500);
    color: var(--color-text);
    border-radius: 20px;
    padding: 13px 15px;
    font-size: 16px;
    outline: none;
    resize: none;
}





.submitFileLoaderPopUpFooter {
    flex-shrink: 0;
}



.submitFileLoaderPopUpProgressBarBlock {
    overflow: hidden;
    padding: 20px 10px;
}

.submitFileLoaderPopUpProgressBar {
    height: 30px;
    width: 100%;
    background-color: var(--color-gray-500);
    border-radius: 100px;
}

.submitFileLoaderPopUpProgressBarAggregate {
    height: 100%;
    background-color: var(--color-blue-400);
    border-radius: 100px;
    transition: 0.5s all linear;
}




.submitFileLoaderPopUpWarningDoNotClose {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 10px;
    padding-bottom: 10px;
    flex-shrink: 0;
}

.submitFileLoaderPopUpWarningDoNotClose span {
    color: var(--color-gray-150);
    overflow: hidden;
    text-align: center;
}




.submitFileLoaderPopUpSuccessfulBlock {
    display: flex;
    justify-content: center;
    padding: 5px 0px
}

.styleButtonFileLoaderPopUpCloseBlock {
    padding: 10px;
}

.styleButtonFileLoaderPopUpClose {
    background-color: var(--color-blue-500);
    border: none;
    color: var(--color-width);
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    padding: 12px 15px;
    transition: 0.2s all ;
    outline: none;
    width: 100%;
}

.styleButtonFileLoaderPopUpClose:hover {
    background-color: var(--color-blue-600);
}

.styleButtonFileLoaderPopUpClose:active {
    background-color: var(--color-blue-500);
}



















.userDataLoaderImg {
  animation: load linear 2s infinite; 
}

@keyframes load {
    0% { 
        transform: rotate(0deg); 
    }

    100% { 
        transform: rotate(360deg); 
    }    

}










@media (max-width: 430px) {

    .blockForm {
        width: 350px;
    }

}

@media (max-width: 380px) {

    .submitFileLoaderPopUp {
        height: 100%;
        border-radius: 0px;
    }

}